{% extends "layout.html.twig" %}

{% block title %}Archives{% endblock %}

{% block content %}
	{% if app.session.flashbag.peekAll|length > 0 %}
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ type ? type : '' }} fade-in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="jumbotron vertical-center">
        <div class="container-fluid">
            <div class="container"><h2>Packing Sheets <br>
                    <small>Archives</small></h2>
                <div class="col-md-3 col-md-offset-9">
                    {% if searchTag == 1 %}
                		<a href="{{ path('archives') }}"><button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-left"></span> Return to Archives list </button></a>
                    {% endif %}
                </div>
            </div>
            <div id="exTab2" class="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#1" data-toggle="tab">Sheets</a></li>
                    <li><a href="#2" data-toggle="tab">Search</a></li>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane active" id="1">
                        {% if (archives is empty) %}
                            <div class="panel panel-warning">
                                <div class="panel-body">No archives found - Please edit filters</div>
                            </div>
                        {% else %}
                            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Ref</th>
                                        <th>Archived By</th>
                                        <th>Archived On</th>
                                        <th>Download</th>      
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for archive in archives %}
                                        <tr>
                                            <td>{{ archive.ref }}</td>
                                            <td>{{ archive.user }}</td>
                                            <td>{{ archive.serializationDate }}</td>
                                            <td><a href="{{ path('downloadArchive', { 'idArchive': archive.id }) }}" target="_blank"><button type="button" class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-download"></span></button></a></td>										                           
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="2">
                        <div class="container-fluid">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3>Search</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="container-fluid">
                                    	{{ form_start(archiveSearchForm, { 'attr': {'class': 'form-horizontal'} }) }} 	
                                        	<div class="form-group">
                                                {{ form_label(archiveSearchForm.ref, null, {  'label': '', 'label_attr':  {
                                                	'class': 'col-sm-4 control-label'
                                                }}) }}
                                                <div class="col-lg-6">
                                                    {{ form_errors(archiveSearchForm.ref) }}
                                                    {{ form_widget(archiveSearchForm.ref, {'attr':  {
                                                    'class': 'form-control'
                                                    }}) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(archiveSearchForm.user, null, {  'label': '', 'label_attr':  {
                                                	'class': 'col-sm-4 control-label'
                                                }}) }}
                                                <div class="col-lg-6">
                                                    {{ form_errors(archiveSearchForm.user) }}
                                                    {{ form_widget(archiveSearchForm.user, {'attr':  {
                                                    'class': 'form-control'
                                                    }}) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(archiveSearchForm.serializationDate, null, {  'label': '', 'label_attr':  {
                                                	'class': 'col-sm-4 control-label'
                                                }}) }}
                                                <div class="col-lg-6">
                                                    {{ form_errors(archiveSearchForm.serializationDate) }}
                                                    {{ form_widget(archiveSearchForm.serializationDate, {'attr':  {
                                                    'class': 'form-control'
                                                    }}) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                                                    <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-search"></span> Search </button>
                                                </div>
                                            </div>
                                        {{ form_end(archiveSearchForm) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

