{% extends "layout.html.twig" %}

{% block title %}Packing Sheets{% endblock %}

{% block content %}
<div class="jumbotron vertical-center">
  <div class="container-fluid">
    <div class="container"><h2>Packing Sheets<br>
      <small>Details - PS {{ packingSheet.ref}} </small></h2>
    </div>
    <br>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#1" data-toggle="tab">Packing Sheet</a></li>
        <li><a href="#2" data-toggle="tab">Packings</a></li>
      </ul>
      <div class="tab-content ">
        <div class="tab-pane active" id="1">
          <div class="container-fluid">
            <div class="panel panel-info">
              <div class="panel-heading panel-height"><h3>Packing Sheet<br><small>Consultation</small><h3></div>
              </div>
              <hr></hr>
              <div class="container">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#1a" data-toggle="tab">Informations</a></li>
                  <li><a href="#2a" data-toggle="tab">Service</a></li>
                  <li><a href="#3a" data-toggle="tab">Specifications</a></li>
                  <li><a href="#4a" data-toggle="tab">Content</a></li>
                  <li><a href="#5a" data-toggle="tab">Memo</a></li>
                </ul>
                <div class="tab-content ">
                  <div class="tab-pane active" id="1a">
                    <div class="container">
                      <div class="row Infos">
                        <div class="container">
                          <div class="container-text-left"><h2><small>Informations</small></h2></div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="ref">Ref:</label>
                            <input type="text" class="form-control" placeholder="{{ packingSheet.ref}}" id="ref" readonly="readonly"></input>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="awb">AWB:</label>
                            <input type="text" class="form-control" placeholder="{{ packingSheet.AWB}}" id="awb" readonly="readonly"></input>
                          </div>
                        </div>
                        <div class="col-md-1">
                          <div class="form-group">
                            <label for="printed">Printed:</label>
                            <input type="checkbox" class="form-control"
                              {% if packingSheet.printed == 1 %}
                              checked = "checked"
                              {% endif %}
                              id="ref" disabled>
                            </input>
                          </div>
                        </div>
                        <div class="col-md-1">
                          <div class="form-group">
                            <label for="signed">Signed:</label>
                            <input type="checkbox" class="form-control"
                              {% if packingSheet.signed == 1 %}
                              checked = "checked"
                              {% endif %}
                              id="ref" disabled>
                            </input>
                          </div>
                        </div>
                      </div>
                      <hr></hr>
                      <div class="row Codes">
                        <div class="container">
                          <div class="container-text-left"><h2>
                            <small>Codes</small></h2>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="consignedCode">Consigned:</label>
                            <input type="text" class="form-control" placeholder="{{ packingSheet.consignedCode_id.label}}" id="consignedCode_id" readonly="readonly"></input>
                          </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                          <div class="form-group">
                            <textarea type="text" class="form-control" rows="5" placeholder="{{ packingSheet.consignedCode_id.text}}" id="consignedCodeText" readonly="readonly"></textarea>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="deliveryCode">Delivery:</label>
                            <input type="text" class="form-control" placeholder="{{ packingSheet.deliveryCode_id.label}}" id="deliveryCode_id" readonly="readonly"></input>
                          </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                          <div class="form-group">
                            <textarea type="text" class="form-control" rows="5" placeholder="{{ packingSheet.deliveryCode_id.text}}" id="deliveryCodeText" readonly="readonly"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="2a">
                    <div class="container">
                      <div class="row Service">
                        <div class="container">
                          <div class="container-text-left"><h2>
                            <small>Service Info</small></h2>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="service">From service:</label>
                            <input type="text" class="form-control" placeholder="{{ packingSheet.service_id.label}}" id="service" readonly="readonly"></input>
                          </div>
                          <div class="form-group">
                            <label for="test2">Date:</label>
                            <input type="text" class="form-control" placeholder="{{ packingSheet.dateIssue}}" id="date" readonly="readonly"></input>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="test2">Autority:</label>
                            <textarea type="text" class="form-control" rows="5" placeholder="{{ packingSheet.autority_id.label}} Tel : {{ packingSheet.autority_id.text}} " id="autority" readonly="readonly"></textarea>
                          </div>
                        </div>
                      </div>
                      <hr></hr>
                      <div class="row Finance">
                        <div class="container">
                          <div class="container-text-left"><h2>
                            <small>Accounting Info</small></h2>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="signed">Collect:</label>
                            <input type="checkbox" class="form-control"
                            {% if packingSheet.collect == 1 %}
                            checked = "checked"
                            {% endif %}
                            id="collect" disabled>
                          </input>
                        </div>
                        <div class="form-group">
                          <label for="currency">Currency:</label>
                          <input type="text" class="form-control" placeholder="{{ packingSheet.currency_id.label}}" id="currency" readonly="readonly"></input>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="imput">Input:</label>
                          <input type="text" class="form-control"
                            {% if packingSheet.collect == 0 %}
                            placeholder= "{{ packingSheet.imput_id.label}}"
                            {% endif %}
                            id="imput" readonly="readonly">
                        </input>
                      </div>
                      <div class="form-group">
                        <textarea type="text" class="form-control" rows="5"
                          {% if packingSheet.collect == 0 %}
                          placeholder= "{{ packingSheet.imput_id.text}}"
                          {% endif %}
                          id="imputText" readonly="readonly">
                        </textarea>
                      </div>
                      <div class="form-group">
                        <label for="currency">Currency:</label>
                        <input type="text" class="form-control" placeholder="{{ packingSheet.currency_id.label}}" id="currency" readonly="readonly"></input>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="incoterms">Incoterms:</label>
                        <input type="text" class="form-control" placeholder="{{ packingSheet.incType_id.label}}" id="incType" readonly="readonly"></input>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="{{ packingSheet.incLoc_id.label}}" id="incLoc" readonly="readonly"></input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="3a">
                <div class="container">
                  <div class="row Service">
                    <div class="container">
                      <div class="container-text-left"><h2>
                        <small>Order Info</small></h2>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="content">Content:</label>
                        <input type="text" class="form-control" placeholder="{{ packingSheet.content_id.label}}" id="content" readonly="readonly"></input>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="priority">Priority:</label>
                        <input type="text" class="form-control" placeholder="{{ packingSheet.priority_id.label}}" id="priority" readonly="readonly"></input>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="yrOrder">yrOrder:</label>
                        <input type="text" class="form-control" placeholder="{{ packingSheet.yrOrder}}" id="yrOrder" readonly="readonly"></input>
                      </div>
                    </div>
                  </div>
                  <hr></hr>
                  <div class="row Finance">
                    <div class="container">
                      <div class="container-text-left"><h2>
                        <small>Expedition Info</small></h2>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="customStatusLabel">Custom Status:</label>
                        <input type="text" class="form-control" placeholder="{{ packingSheet.customStatus_id.label}}" id="customStatusLabel" readonly="readonly"></input>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <textarea type="text" class="form-control" rows="5" placeholder="{{ packingSheet.customStatus_id.text}}" id="customStatusText" readonly="readonly"></textarea>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="shipper">Shipper:</label>
                        <input type="text" class="form-control" placeholder="{{ packingSheet.shipper_id.label}}" id="incType" readonly="readonly"></input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="4a">
                <div class="container">
                  <div class="row Service">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <div class="container">
                          <div class="container-text-left"><h2><small>Composition</small></h2></div>
                          <br>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="container">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="nbrPieces">Number of pieces:</label>
                              <input type="text" class="form-control" placeholder="{{ packingSheet.nbrPieces}}" id="nbrPieces" readonly="readonly"></input>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="weight">Total Weight:</label>
                              <input type="text" class="form-control" placeholder="{{ packingSheet.weight}}" id="weight" readonly="readonly"></input>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="price">Total Price:</label>
                              <input type="text" class="form-control" placeholder="{{ packingSheet.totalPrice}}" id="price" readonly="readonly"></input>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr></hr>
                </div>
              </div>
              <div class="tab-pane" id="5a">
                <div class="container">
                  <div class="row Service">
                    <div class="container">
                      <div class="container-text-left"><h2>
                        <small>Memo</small></h2>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="memoText">Memo:</label>
                        <textarea type="text" class="form-control" rows="6" placeholder="{{ packingSheet.memo}}" id="memoText" readonly="readonly"></textarea>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="registeredMemos">Registered memos:</label>
                        <input type="text" class="form-control" placeholder="Registered Memos" id="registeredMemos" readonly="readonly"></input>
                      </div>
                    </div>
                  </div>
                  <hr></hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="2">
        <div class="container-fluid">
          <div class="panel panel-info">
            <div class="panel-heading panel-height"><h3>Packing Sheet<br><small>Consultation</small><h3></div>
            </div>
            <hr></hr>
            <div class="container">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#1b" data-toggle="tab">Informations</a></li>
                <li><a href="#2b" data-toggle="tab">Service</a></li>
              </ul>
              <div class="tab-content ">
                <div class="tab-pane active" id="1b">
                  <div class="container">
                    Patate
                    <hr></hr>
                    Test
                  </div>
                </div>
                <div class="tab-pane" id="2b">
                  <div class="container">
                    Patate aussi
                    <hr></hr>
                    Test
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
