{% extends "layout.html.twig" %}

{% block title %}Packing Sheets{% endblock %}

{% block content %}
	{% if app.session.flashbag.peekAll|length > 0 %}
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ type ? type : '' }} fade-in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="jumbotron vertical-center">
        <div class="container-fluid">
            <div class="container"><h2>Packing Sheets <br>
                    <small>Edition/Consultation</small></h2>
                <div class="col-md-3 col-md-offset-9">
                    <a href="{{ path('sheet', {'status': "create"}) }}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create new sheet</button></a>
                    {% if searchTag == 1 %}
                		<hr></hr>
                		<a href="{{ path('sheets') }}"><button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-left"></span> Return to Packing Sheets list </button></a>
                    {% endif %}
                </div>
            </div>
            <div id="exTab2" class="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#1" data-toggle="tab">Sheets</a></li>
                    <li><a href="#2" data-toggle="tab">Search</a></li>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane active" id="1">
                        {% if (sheets is empty) %}
                            <div class="panel panel-danger">
                                <div class="panel-heading">Search Results</div>
                                <div class="panel-body">No matching entry found - Please edit filters</div>
                            </div>
                        {% else %}
                            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Ref</th>
                                        <th>AWB</th>
                                        <th>Shipper</th>
                                        <th>Consigned</th>
                                        <th>From service</th>
                                        <th>Autority</th>
                                        <th>List</th>
                                        <th>Packings</th>
                                        <th>Sheet</th>
                                        <th>Print</th>
                                        <th>Delete</th>        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for packingSheet in sheets %}
                                        <tr>
                                            <td>{{ packingSheet.ref }}</td>
                                            <td>
                                                {% if packingSheet.AWB is not null %}
                                                    {{ packingSheet.AWB }}
                                                {% else %}
                                                	N/A
                                                {% endif %}
                                            </td>
                                            <td>
                                            	{% if packingSheet.shipperId is not null  %}
                                                    {{ packingSheet.shipperId.label}}
                                                {% else %}
                                                	N/A
                                                {% endif %}
                                            </td>
                                            <td>
                                            	{% if packingSheet.consignedAddressId is not null  %}
                                                    {{ packingSheet.consignedAddressId.label}}
                                                {% else %}
                                                	N/A
                                                {% endif %}
                                            </td>
                                            <td>
                                            	{% if packingSheet.serviceId is not null  %}
                                                    {{ packingSheet.serviceId.label }}
                                                {% else %}
                                                	N/A
                                                {% endif %}                                                
                                            </td>
                                            <td>{{ packingSheet.autority }}</td>
                                            <td><a href="{{ path('sheetList', { 'id': packingSheet.id }) }}"><button type="button" class="btn btn-list btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button></a></td>
                                            <td><a href="{{ path('packings', { 'id': packingSheet.id }) }}"><button type="button" class="btn btn-packings btn-sm"><span class="glyphicon glyphicon-inbox"></span></button></a></td>     
                                            <td>
                                                <div class="dropdown">
                                                  	<button class="btn btn-sheet btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span>
                                                  	<span class="caret"></span></button>
                                                  	<ul class="dropdown-menu">
                                                    	<li><a href="{{ path('sheet', { 'id': packingSheet.id, 'status': 'details' }) }}"><span class="glyphicon glyphicon-zoom-in"></span>  Details</a></li>
                                                    	<li><a href="{{ path('sheet', { 'id': packingSheet.id, 'status': 'edit' }) }}"><span class="glyphicon glyphicon-pencil"></span>  Edit</a></li>
                                                  	</ul>
                                                </div>
                                            </td>
                                            <td>
                                            	<div class="dropdown">
                                                  	<button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-print"></span>
                                                  	<span class="caret"></span></button>
                                                  	<ul class="dropdown-menu">
                                                    	<li><a href="#">List</a></li>
                                                    	<li><a href="{{ path('printOptions', { 'psId': packingSheet.id }) }}">Sheet</a></li>
                                                  	</ul>
                                                </div>    
                                            </td>
											<td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteConfirm{{ packingSheet.id }}">
                                                    <span class="glyphicon glyphicon-remove"></span></button>
                                            </td>											                           
                                        </tr>
                                        <div class="modal fade" id="deleteConfirm{{ packingSheet.id }}" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <div class="panel panel-danger">
                                                            <div class="panel-heading panel-height"><h4>Packing Sheet Deletion : {{ packingSheet.ref }}</small></h4></div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete this Packing Sheet ? <br/>
                                                        It will be definitely removed from the database. Included Packings will be removed too.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <a href="{{ path('packingsheet_delete', { 'id': packingSheet.id }) }}"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfim{{ packingSheet.id }}">
                                                                Delete </button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="2">
                        <div class="container-fluid">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3>Search</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="container-fluid">
                                        {{ form_start(psSearchForm, { 'attr': {'class': 'form-horizontal'} }) }}
                                            <div class="col-md-6">
                                            	<h3><small>Sheet</small></h3>
                                            	<div class="form-group">
                                                    {{ form_label(psSearchForm.ref, null, {  'label': 'Reference', 'label_attr':  {
                                                    	'class': 'col-sm-4 control-label'
                                                    }}) }}
                                                    <div class="col-lg-7">
                                                        {{ form_errors(psSearchForm.ref) }}
                                                        {{ form_widget(psSearchForm.ref, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(psSearchForm.AWB, null, {  'label': 'AWB', 'label_attr':  {
                                                    	'class': 'col-sm-4 control-label'
                                                    }}) }}
                                                    <div class="col-lg-6">
                                                        {{ form_errors(psSearchForm.AWB) }}
                                                        {{ form_widget(psSearchForm.AWB, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(psSearchForm.dateIssue, null, {  'label': 'Date', 'label_attr':  {
                                                    	'class': 'col-sm-4 control-label'
                                                    }}) }}
                                                    <div class="col-lg-6">
                                                        {{ form_errors(psSearchForm.dateIssue) }}
                                                        {{ form_widget(psSearchForm.dateIssue, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(psSearchForm.imputId, null, {  'label': 'Imputation', 'label_attr':  {
                                                    	'class': 'col-sm-4 control-label'
                                                    }}) }}
                                                    <div class="col-lg-8">
                                                        {{ form_errors(psSearchForm.imputId) }}
                                                        {{ form_widget(psSearchForm.imputId, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(psSearchForm.serviceId, null, {  'label': 'Service', 'label_attr':  {
                                                    	'class': 'col-sm-4 control-label'
                                                    }}) }}
                                                    <div class="col-lg-8">
                                                        {{ form_errors(psSearchForm.serviceId) }}
                                                        {{ form_widget(psSearchForm.serviceId, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            	<h3><small>Part</small></h3>
                                            	<div class="form-group">
                                                    {{ form_label(psSearchForm.pn, null, {  'label': 'Part Number', 'label_attr':  {
                                                    	'class': 'col-sm-4 control-label'
                                                    }}) }}
                                                    <div class="col-lg-6">
                                                        {{ form_errors(psSearchForm.pn) }}
                                                        {{ form_widget(psSearchForm.pn, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                             	</div>
                                             	<div class="form-group">
                                                    {{ form_label(psSearchForm.serial, null, {  'label': 'Serial Number', 'label_attr':  {
                                                    	'class': 'col-sm-4 control-label'
                                                    }}) }}
                                                    <div class="col-lg-6">
                                                        {{ form_errors(psSearchForm.serial) }}
                                                        {{ form_widget(psSearchForm.serial, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(psSearchForm.desc, null, {  'label': 'Description', 'label_attr':  {
                                                    	'class': 'col-sm-4 control-label'
                                                    }}) }}
                                                    <div class="col-lg-8">
                                                        {{ form_errors(psSearchForm.desc) }}
                                                        {{ form_widget(psSearchForm.desc, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(psSearchForm.hscode, null, {  'label': 'HSCode', 'label_attr':  {
                                                    	'class': 'col-sm-4 control-label'
                                                    }}) }}
                                                    <div class="col-lg-8">
                                                        {{ form_errors(psSearchForm.hscode) }}
                                                        {{ form_widget(psSearchForm.hscode, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <hr/>
                                            {% set codeList = [] %}
                                            {% set addressList = [] %}
                                            {% set contactList = [] %}
                                            
                                            {% for code in codes %}
                                                {% set codeList = codeList|merge([code.label])  %}
                                            	{% for address in code.addresses %}
                                            	    {% set addressList = addressList|merge([address.label])  %}
                                            		{% for contact in address.contacts %}
                                            		    {% set contactList = contactList|merge([contact.name])  %}
                                            		{% endfor %}
                                            	{% endfor %}
                                            {%  endfor %}
                                            <h3><small>Consigned</small></h3>
                                            <div class="col-md-4">
                                            	<div class="form-group">
                                                    {{ form_label(psSearchForm.datalistCode, null, {  'label': 'Company', 'label_attr':  {
                                                    	'class': 'col-sm-3 control-label'
                                                    }}) }}
                                                    <div class="col-lg-9">
                                                        {{ form_errors(psSearchForm.datalistCode) }}
                                                        {{ form_widget(psSearchForm.datalistCode, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                            $( function() {
                                                var availableTags = [];

                                                {% for code in codeList %}
                                                	availableTags.push("{{code}}");
                                                {% endfor %}
                                                
                                                $( "#packing_sheet_search_datalistCode" ).autocomplete({
                                                  source: availableTags
                                                });
                                          	} );
                                            </script>
                                            <div class="col-md-4">
                                            	<div class="form-group">
                                                    {{ form_label(psSearchForm.datalistAddress, null, {  'label': 'Address', 'label_attr':  {
                                                    	'class': 'col-sm-3 control-label'
                                                    }}) }}
                                                    <div class="col-lg-9">
                                                        {{ form_errors(psSearchForm.datalistAddress) }}
                                                        {{ form_widget(psSearchForm.datalistAddress, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                            $( function() {
                                                var availableTags = [];

                                                {% for address in addressList %}
                                                	availableTags.push("{{address}}");
                                                {% endfor %}
                                                
                                                $( "#packing_sheet_search_datalistAddress" ).autocomplete({
                                                  source: availableTags
                                                });
                                          	} );
                                            </script>
                                            <div class="col-md-4">
                                            	<div class="form-group">
                                                    {{ form_label(psSearchForm.datalistContact, null, {  'label': 'Contact', 'label_attr':  {
                                                    	'class': 'col-sm-3 control-label'
                                                    }}) }}
                                                    <div class="col-lg-9">
                                                        {{ form_errors(psSearchForm.datalistContact) }}
                                                        {{ form_widget(psSearchForm.datalistContact, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                            $( function() {
                                                var availableTags = [];

                                                {% for contact in contactList %}
                                                	availableTags.push("{{contact}}");
                                                {% endfor %}
                                                
                                                $( "#packing_sheet_search_datalistContact" ).autocomplete({
                                                  source: availableTags
                                                });
                                          	} );
                                            </script>
                                            <hr/>
                                            <div class="col-md-3 col-md-offset-1">
                                            	<div class="form-group">
                                                    {{ form_label(psSearchForm.signed, null, {  'label': 'Signed', 'label_attr':  {
                                                    	'class': 'col-sm-2 control-label'
                                                    }}) }}
                                                    <div class="col-lg-6">
                                                        {{ form_errors(psSearchForm.signed) }}
                                                        {{ form_widget(psSearchForm.signed, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-md-offset-1">
                                            	<div class="form-group">
                                                    {{ form_label(psSearchForm.printed, null, {  'label': 'Printed', 'label_attr':  {
                                                    	'class': 'col-sm-2 control-label'
                                                    }}) }}
                                                    <div class="col-lg-6">
                                                        {{ form_errors(psSearchForm.printed) }}
                                                        {{ form_widget(psSearchForm.printed, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-md-offset-1">
                                            	<div class="form-group">
                                                    {{ form_label(psSearchForm.groupId, null, {  'label': 'Group', 'label_attr':  {
                                                    	'class': 'col-sm-3 control-label'
                                                    }}) }}
                                                    <div class="col-lg-7">
                                                        {{ form_errors(psSearchForm.groupId) }}
                                                        {{ form_widget(psSearchForm.groupId, {'attr':  {
                                                        'class': 'form-control'
                                                        }}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                                                    <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-search"></span> Search </button>
                                                </div>
                                            </div>
                                        {{ form_end(psSearchForm) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="/scripts/add_auto_complete.js"></script> -->
{% endblock %}

