{% extends "layout.html.twig" %}

{% block title %}Tables{% endblock %}

{% block content %}
    {% if app.session.flashbag.peekAll|length > 0 %}
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ type ? type : '' }} fade-in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="jumbotron vertical-center">
        <div class="container-fluid">
            <div class="container"><h2>Tables <br>
            	{% if selectedTable is not same as ('home') %}
            		{% if selectedTableDisplay is same as ('Code') %}
            			{% set selectedTableDisplay = 'Company' %}
            		{% endif %}
                    <small>{{ selectedTableDisplay }} List{% if codeLabel is defined %} - {{ codeLabel }} {% endif %}</small></h2>
                    {% if selectedTable is not same as ('address') %}
                        <div class="col-md-3 col-md-offset-9">
                            <a href="{{ path('table', {'selectedTable': selectedTable, 'status': "create"}) }}"><button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Create new  {{ selectedTableDisplay }}</button></a>
                            <hr/>
                        </div>
                    {% else %}
                    	<div class="col-md-4 col-md-offset-8">
                    		<a href="{{ path('companyAddress', {'codeId': codeId, 'status': 'create'}) }}"><button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Add Address</button></a>
                    		<a href="{{ path('tables', {'selectedTable': 'code'}) }}"><button type="button" class="btn btn-secondary btn-sm"><span class="glyphicon glyphicon-arrow-left"></span> Back to Code List</button></a>
                    		<hr/>
                    	</div>
                    {% endif %}
                {% endif %}
                <div class="col-md-3 col-md-offset-9">
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select table
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                      
                      	<li class="dropdown-header">Contacts</li>
                        <li><a href="{{ path('tables', {'selectedTable': "code"}) }}">Company/Address</a></li>
                        <li class="divider"></li>
                        
                        <li class="dropdown-header">Packing Sheets</li>
                        <li><a href="{{ path('tables', {'selectedTable': "service"}) }}">Service</a></li>
                        <li><a href="{{ path('tables', {'selectedTable': "content"}) }}">Content</a></li>
                        <li><a href="{{ path('tables', {'selectedTable': "priority"}) }}">Priority</a></li>
                        <li><a href="{{ path('tables', {'selectedTable': "shipper"}) }}">Shipper</a></li>
                        <li><a href="{{ path('tables', {'selectedTable': "customStatus"}) }}">Custom Status</a></li>
                        <li><a href="{{ path('tables', {'selectedTable': "currency"}) }}">Currency</a></li>
                        <li><a href="{{ path('tables', {'selectedTable': "imput"}) }}">Imputation (Cost Center)</a></li>
                        <li><a href="{{ path('tables', {'selectedTable': "memo"}) }}">Memo</a></li>
                        <li class="divider"></li>
                        
                        <li class="dropdown-header">Incoterms</li>
                        <li><a href="{{ path('tables', {'selectedTable': "incotermsType"}) }}"> Type </a></li>
                        <li><a href="{{ path('tables', {'selectedTable': "incotermsLocation"}) }}">Location</a></li>
                        <li class="divider"></li>
                        
                        <li class="dropdown-header">Packings</li>
                        <li><a href="{{ path('tables', {'selectedTable': "packType"}) }}">Pack Type</a></li>
                        <li class="divider"></li>
                        
                        <li class="dropdown-header">Printing</li>
                        <li><a href="{{ path('tables', {'selectedTable': "header"}) }}">Header</a></li>
                        <li><a href="{{ path('tables', {'selectedTable': "footer"}) }}">Footer</a></li>
                      </ul>
                    </div>
            	</div>
            </div>
            <div id="exTab2" class="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#1" data-toggle="tab">Table</a></li>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane active" id="1">
                        {% include 'tables/objectsList.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
