<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>	
        	<div class="navbar-brand"><img src="{{ asset( 'logo.png' , 'images') }}" alt="logo.png" height="50"></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            	<li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('sheets') }}">Sheets</a></li>
                <li><a href="{{ path('parts') }}">Parts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ app.session.get('user')['name'][0] }}, {{ app.session.get('user')['firstName'][0] }}
                        ({{ app.session.get('user')['username'] }}) <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">
                            Accreditation level 1 : User
                        </li>
                        <li class="dropdown-header">
                        	Displayed Packing Sheets :
                        	{% if app.session.get('auth')['packingSheetsSeries'][1] is defined %}
                    	        {{ app.session.get('auth')['packingSheetsSeries'][1] }} 
                            {% elseif app.session.get('auth')['packingSheetsSeries'][2] is defined %} 
                    	        {{ app.session.get('auth')['packingSheetsSeries'][2] }}
                            {% endif %}  
                        </li>
                        <li><a href="{{ path('logout') }}">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
