{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if block('title') == 'Edit Contact'%}
        <div class="panel panel-warning">
            <div class="panel-heading panel-height"><h4>Contacts - Edition</h4></div>
        </div>
    {% elseif block('title') == 'New Contact' %}
        <div class="panel panel-success">
            <div class="panel-heading panel-height"><h4>Contacts - Creation</h4></div>
        </div>
    {% endif %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="well">
        {{ form_start(contactForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_label(contactForm.code, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(contactForm.code) }}
                {{ form_widget(contactForm.code, { 'id': 'code','attr':  {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(contactForm.addressId, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(contactForm.addressId) }}
                {{ form_widget(contactForm.addressId, { 'id': 'addressId', 'attr':  {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(contactForm.name, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(contactForm.name) }}
                {{ form_widget(contactForm.name, { 'attr':  {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(contactForm.mail, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(contactForm.mail) }}
                {{ form_widget(contactForm.mail, { 'attr':  {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(contactForm.phoneNr, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(contactForm.phoneNr) }}
                {{ form_widget(contactForm.phoneNr, { 'attr':  {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(contactForm.faxNr, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(contactForm.faxNr) }}
                {{ form_widget(contactForm.faxNr, { 'attr':  {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-1">
                <input type="submit" class="btn btn-primary outline" value="Save" />
            </div>
            <div class="col-md-1 col-md-offset-5">
            	<a href="{{ path('contacts') }}"><button type="button" class="btn btn-danger outline"> Cancel </button></a>
            </div>
        </div>
        {{ form_end(contactForm) }}
        
         <script src="/scripts/dropdown_updates_contact_form.js"></script> 
        
    </div>
{% endblock %}
