{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if app.session.flashbag.peekAll|length > 0 %}
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ type ? type : '' }} fade-in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    
    <div class="jumbotron vertical-center">
        <div class="container-fluid">
            <div class="container"><h2>Packings <br>
                    <small>PS {{ psRef }}</small></h2>
                <div class="col-md-5 col-md-offset-7 text-right">
                    <a href="{{ path('packings', { 'id': id }) }}"><button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-left"></span> Back to Packings </button></a>
                </div>
            </div>
            <hr></hr>
            <div class="container">
            	<div class="panel panel-packings">
          			<div class="panel-heading"><h4>Packing Assignation</h4></div>
        		</div>
            	<div class="well">
                    {{ form_start(packingAssignationForm, { 'attr': {'class': 'form-horizontal'} }) }}
                    	<div class="well">
                        	<div class="form-group">
                                {{ form_label(packingAssignationForm.packingListPart, null, {  'label': 'List Parts', 'label_attr':  {
                                'class': 'col-sm-3 control-label'
                                }}) }}
                                <div class="col-sm-8">
                                    {{ form_errors(packingAssignationForm.packingListPart) }}
                                    {{ form_widget(packingAssignationForm.packingListPart, {'attr':  {
                                    'class': 'form-control'
                                    }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(packingAssignationForm.packing, null, {  'label': 'Packings', 'label_attr':  {
                                'class': 'col-sm-3 control-label'
                                }}) }}
                                <div class="col-sm-8">
                                    {{ form_errors(packingAssignationForm.packing) }}
                                    {{ form_widget(packingAssignationForm.packing, {'attr':  {
                                    'class': 'form-control'
                                    }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(packingAssignationForm.origin, null, {  'label': 'Origin', 'label_attr':  {
                                'class': 'col-sm-3 control-label'
                                }}) }}
                                <div class="col-sm-8">
                                    {{ form_errors(packingAssignationForm.origin) }}
                                    {{ form_widget(packingAssignationForm.origin, {'attr':  {
                                    'class': 'form-control'
                                    }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(packingAssignationForm.serial, null, {  'label': 'Part Serial', 'label_attr':  {
                                'class': 'col-sm-3 control-label'
                                }}) }}
                                <div class="col-sm-8">
                                    {{ form_errors(packingAssignationForm.serial) }}
                                    {{ form_widget(packingAssignationForm.serial, {'attr':  {
                                    'class': 'form-control'
                                    }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(packingAssignationForm.price, null, {  'label': 'Price', 'label_attr':  {
                                'class': 'col-sm-3 control-label'
                                }}) }}
                                <div class="col-sm-8">
                                    {{ form_errors(packingAssignationForm.price) }}
                                    {{ form_widget(packingAssignationForm.price, {'attr':  {
                                    'class': 'form-control'
                                    }}) }}
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <div class="col-sm-4">
                                {{ form_widget(packingAssignationForm.save, {'attr':  {
                                'class': 'btn btn-primary outline',
                                'style':'display: block; margin: 0 auto;'
                                }}) }}
                            </div>
                        </div>
                    {{ form_end(packingAssignationForm) }}
                </div>
            </div>
    	</div>
    </div> 
    <script src="/scripts/add_select2.js"></script> 
{% endblock %}




