{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if app.session.flashbag.peekAll|length > 0 %}
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ type ? type : '' }} fade-in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    
    <div class="jumbotron vertical-center">
        <div class="container-fluid">
            <div class="container"><h2>Packing Sheet <br>
                    <small>PS {{ packingSheet.ref}} </small></h2>
                <div class="col-md-3 col-md-offset-9 text-right">
                    <a href="{{ path('sheetDetails', { 'id': id }) }}"><button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-left"></span> Back to Packing Sheet </button></a>
                </div>
            </div>
            <hr></hr>
            <div class="container">
            	<div class="panel panel-warning">
              		<div class="panel-heading"><h4>Packing {{ packingid }} <br/><small>Edition</small></h4></div>
            	</div>
            	<div class="well">
                    {{ form_start(packingForm, { 'attr': {'class': 'form-horizontal'} }) }}
                    	<div class="well">
                        	<div class="form-group">
                                {{ form_label(packingForm.M1, null, {  'label': 'M1', 'label_attr':  {
                                'class': 'col-sm-4 control-label'
                                }}) }}
                                <div class="col-sm-6">
                                    {{ form_errors(packingForm.M1) }}
                                    {{ form_widget(packingForm.M1, {'attr':  {
                                    'class': 'form-control'
                                    }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(packingForm.M2, null, {  'label': 'M2', 'label_attr':  {
                                'class': 'col-sm-4 control-label'
                                }}) }}
                                <div class="col-sm-6">
                                    {{ form_errors(packingForm.M2) }}
                                    {{ form_widget(packingForm.M2, {'attr':  {
                                    'class': 'form-control'
                                    }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(packingForm.M3, null, {  'label': 'M3', 'label_attr':  {
                                'class': 'col-sm-4 control-label'
                                }}) }}
                                <div class="col-sm-6">
                                    {{ form_errors(packingForm.M3) }}
                                    {{ form_widget(packingForm.M3, {'attr':  {
                                    'class': 'form-control'
                                    }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(packingForm.netWeight, null, {  'label': 'Net Weight', 'label_attr':  {
                                'class': 'col-sm-4 control-label'
                                }}) }}
                                <div class="col-sm-6">
                                    {{ form_errors(packingForm.netWeight) }}
                                    {{ form_widget(packingForm.netWeight, {'attr':  {
                                    'class': 'form-control'
                                    }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(packingForm.grossWeight, null, { 'label': 'Gross Weight', 'label_attr':  {
                                'class': 'col-sm-4 control-label'
                                }}) }}
                                <div class="col-sm-6">
                                    {{ form_errors(packingForm.grossWeight) }}
                                    {{ form_widget(packingForm.grossWeight, {'attr':  {
                                    'class': 'form-control'
                                    }}) }}
                                </div>
                            </div>
                       		<div class="form-group">
                                {{ form_label(packingForm.packType_id, null, { 'label': 'Type', 'label_attr':  {
                                'class': 'col-sm-4 control-label'
                                }}) }}
                                <div class="col-sm-6">
                                    {{ form_errors(packingForm.packType_id) }}
                                    {{ form_widget(packingForm.packType_id, {'attr':  {
                                    'class': 'form-control'
                                    }}) }}
                                </div>
                            </div>
                        </div>
                    	<ul class="parts" data-prototype="{{ form_widget(packingForm.parts.vars.prototype)|e('html_attr') }}" style="list-style-type: none;">
                    		{% set cptPart = 1 %}
                            {% if packingForm.parts is empty %}
                            	<div class="panel panel-warning">
                                  <div class="panel-heading">No parts found for this Packing</div>
                                </div>
                            {% else %}
                            	{% for psPart in packingForm.parts %}
                            		<p>
                                		<li style="list-style-type: none;">
                                			<div class="col-md-2"><h4>Part {{ cptPart }}</h4></div>
                                            {% set cptPart = cptPart + 1 %}
                                    		<div class="form-group">
                                                {{ form_label(psPart.part_id, null, { 'label': ' ', 'label_attr':  {
                                                'class': 'col-sm-4 control-label'
                                                }}) }}
                                                <div class="col-sm-10">
                                                    {{ form_errors(psPart.part_id) }}
                                                    {{ form_widget(psPart.part_id, {'attr':  {
                                                    'class': 'form-control'
                                                    }}) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(psPart.quantity, null, { 'label_attr':  {
                                                'class': 'col-sm-4 control-label'
                                                }}) }}
                                                <div class="col-sm-6">
                                                    {{ form_errors(psPart.quantity) }}
                                                    {{ form_widget(psPart.quantity, {'attr':  {
                                                    'class': 'form-control'
                                                    }}) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(psPart.origin, null, { 'label_attr':  {
                                                'class': 'col-sm-4 control-label'
                                                }}) }}
                                                <div class="col-sm-6">
                                                    {{ form_errors(psPart.origin) }}
                                                    {{ form_widget(psPart.origin, {'attr':  {
                                                    'class': 'form-control'
                                                    }}) }}
                                                </div>
                                            </div>
                                        </li>
                                    </p>
                                    <hr></hr>
                                {% endfor %}
                        	{% endif %}
                        </ul>
                        <div class="form-group">
                            <div class="col-sm-4">
                                {{ form_widget(packingForm.save, {'attr':  {
                                'class': 'btn btn-primary outline',
                                'style':'display: block; margin: 0 auto;'
                                }}) }}
                            </div>
                        </div>
                    {{ form_end(packingForm) }}
                </div>
            </div>
    	</div>
    </div>
    
    <script>
    
    var $collectionHolder;

 	// setup an "add a part" link
     var $addPartLink = $('<br/><a href="#" class="add_part_link"><button type="button" class="btn btn-success outline"><span class="glyphicon glyphicon-copy"></span> Add a Part </button></a>');
     var $newLinkLi = $('<li></li>').append($addPartLink);
    
     jQuery(document).ready(function() {

         // Get the ul that holds the collection of parts
         $collectionHolder = $('ul.parts');
        
         // add a delete link to all of the existing part form li elements
         $collectionHolder.find('li').each(function() {
            addPartFormDeleteLink($(this));
         });
    	    
         // Get the ul that holds the collection of parts
         //$collectionHolder = $('ul.parts');
    
         // add the "add a Part" anchor and li to the parts ul
         $collectionHolder.append($newLinkLi);
    
         // count the current form inputs we have (e.g. 2), use that as the new
         // index when inserting a new item (e.g. 2)
         $collectionHolder.data('index', $collectionHolder.find(':input').length);
    
         $addPartLink.on('click', function(e) {
             // prevent the link from creating a "#" on the URL
             e.preventDefault();
    
             // add a new part form (see next code block)
             addPartForm($collectionHolder, $newLinkLi);
         });
     });

     function addPartForm($collectionHolder, $newLinkLi) {
    	    // Get the data-prototype explained earlier
    	    var prototype = $collectionHolder.data('prototype');

    	    // get the new index
    	    var index = $collectionHolder.data('index');

    	    // Replace '__name__' in the prototype's HTML to
    	    // instead be a number based on how many items we have
    	    var newForm = prototype.replace(/__name__/g, index);

    	    // increase the index with one for the next item
    	    $collectionHolder.data('index', index + 1);

    	    // Display the form in the page in an li, before the "Add a Part" link li
    	    var $newFormLi = $('<li></li>').append(newForm);
    	    $newLinkLi.before($newFormLi);

    	 	// add a delete link to the new form
    	    addPartFormDeleteLink($newFormLi);
    	}

	function addPartFormDeleteLink($partFormLi) {
	    var $removeFormA = $('<p><a href="#"><button type="button" class="btn btn-danger outline"><span class="glyphicon glyphicon-paste"></span> Delete this Part </button></a></p>');
	    $partFormLi.append($removeFormA);

	    $removeFormA.on('click', function(e) {
	        // prevent the link from creating a "#" on the URL
	        e.preventDefault();

	        // remove the li for the part form
	        $partFormLi.remove();
	    });
	}
 	
    </script>
{% endblock %}




