{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if app.session.flashbag.peekAll|length > 0 %}
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ type ? type : '' }} fade-in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    
    <div class="jumbotron vertical-center">
        <div class="container-fluid">
            <div class="container"><h2>Packing Sheet <br>
                    <small>PS {{ packingSheet.ref}} </small></h2>
                <div class="col-md-4 col-md-offset-8 text-right">
                	<a href="{{ path('sheetList', { 'id': id }) }}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-list-alt"></span> List </button></a>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                    <hr></hr>
                    <a href="#"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span>  Print Packing Sheet </button></a>
                </div>
            </div>
            <hr></hr>
            <div class="container">
            	<div class="well">
                    {{ form_start(packingSheetForm, { 'attr': {'class': 'form-horizontal'} }) }}
                    	<ul id="packings" class="packings" data-prototype="{{ form_widget(packingSheetForm.packings.vars.prototype)|e('html_attr') }}" style="list-style-type: none;">
                    	{% set cptPack = 1 %}
                    	{% if packingSheetForm.packings is empty %}
                    		<div class="panel panel-warning">
                              	<div class="panel-heading">No packings found for this Packing Sheet</div>
                            </div>
                    	{% else %}
                    		{% spaceless %}    	
                            {% for pack in packingSheetForm.packings %}
                        		<li style="list-style-type: none;" id="packing">
                        			<p class="p-text-left"><h3>Packing {{ cptPack }}</h3></p>
                            		<div class="form-group">
                                        {{ form_label(pack.M1, null, {  'label': 'M1', 'label_attr':  {
                                        'class': 'col-sm-4 control-label'
                                        }}) }}
                                        <div class="col-sm-6">
                                            {{ form_errors(pack.M1) }}
                                            {{ form_widget(pack.M1, {'attr':  {
                                            'class': 'form-control'
                                            }}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(pack.M2, null, {  'label': 'M2', 'label_attr':  {
                                        'class': 'col-sm-4 control-label'
                                        }}) }}
                                        <div class="col-sm-6">
                                            {{ form_errors(pack.M2) }}
                                            {{ form_widget(pack.M2, {'attr':  {
                                            'class': 'form-control'
                                            }}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(pack.M3, null, {  'label': 'M3', 'label_attr':  {
                                        'class': 'col-sm-4 control-label'
                                        }}) }}
                                        <div class="col-sm-6">
                                            {{ form_errors(pack.M3) }}
                                            {{ form_widget(pack.M3, {'attr':  {
                                            'class': 'form-control'
                                            }}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(pack.netWeight, null, {  'label': 'Net Weight', 'label_attr':  {
                                        'class': 'col-sm-4 control-label'
                                        }}) }}
                                        <div class="col-sm-6">
                                            {{ form_errors(pack.netWeight) }}
                                            {{ form_widget(pack.netWeight, {'attr':  {
                                            'class': 'form-control'
                                            }}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(pack.grossWeight, null, { 'label': 'Gross Weight', 'label_attr':  {
                                        'class': 'col-sm-4 control-label'
                                        }}) }}
                                        <div class="col-sm-6">
                                            {{ form_errors(pack.grossWeight) }}
                                            {{ form_widget(pack.grossWeight, {'attr':  {
                                            'class': 'form-control'
                                            }}) }}
                                        </div>
                                    </div>
                               		<div class="form-group">
                                        {{ form_label(pack.packType_id, null, { 'label': 'Type', 'label_attr':  {
                                        'class': 'col-sm-4 control-label'
                                        }}) }}
                                        <div class="col-sm-6">
                                            {{ form_errors(pack.packType_id) }}
                                            {{ form_widget(pack.packType_id, {'attr':  {
                                            'class': 'form-control'
                                            }}) }}
                                        </div>
                                    </div>
                                    <div class="panel-group">
                                      	<div class="panel panel-default">
                                        	<div class="panel-heading">
                                              	<h4 class="panel-title">
                                                	<a data-toggle="collapse" href="#collapse{{ pack.vars.value.id }}">Parts</a>
                                              	</h4>
                                        	</div>
                                        	<div id="collapse{{ pack.vars.value.id }}" class="panel-collapse collapse">
                                              	<div class="panel-body">
                                              		<ul id="parts" class="parts" data-prototype="{{ form_widget(packingSheetForm.packings.vars.prototype.parts.vars.prototype)|e('html_attr') }}" style="list-style-type: none;">
                                                        {% set cptPart = 1 %}
                                                        {% if pack.parts is empty %}
                                                        	<div class="panel panel-warning">
                                                              <div class="panel-heading">No parts found for this Packing</div>
                                                            </div>
                                                        {% else %}
                                                            {% for part in pack.parts %}
                                                            	<li id="part">
                                                                	<div class="col-md-2"><h4>Part {{ cptPart }}</h4></div>
                                                                	{% set cptPart = cptPart + 1 %}
                                                                	<div class="form-group">
                                                                        {{ form_label(part.part_id, null, { 'label': ' ', 'label_attr':  {
                                                                        'class': 'col-sm-4 control-label'
                                                                        }}) }}
                                                                        <div class="col-sm-10">
                                                                            {{ form_errors(part.part_id) }}
                                                                            {{ form_widget(part.part_id, {'attr':  {
                                                                            'class': 'form-control',
                                                                            'disabled':'disabled'
                                                                            }}) }}
                                                                        </div>
                                                                	</div>
                                                                	<div class="form-group">
                                                                        {{ form_label(part.quantity, null, { 'label': 'Quantity', 'label_attr':  {
                                                                        'class': 'col-sm-4 control-label'
                                                                        }}) }}
                                                                        <div class="col-sm-6">
                                                                            {{ form_errors(part.quantity) }}
                                                                            {{ form_widget(part.quantity, {'attr':  {
                                                                            'class': 'form-control',
                                                                            'disabled':'disabled'
                                                                            }}) }}
                                                                        </div>
                                                                	</div>
                                                                	<div class="form-group">
                                                                        {{ form_label(part.origin, null, { 'label': 'Origin', 'label_attr':  {
                                                                        'class': 'col-sm-4 control-label'
                                                                        }}) }}
                                                                        <div class="col-sm-6">
                                                                            {{ form_errors(part.origin) }}
                                                                            {{ form_widget(part.origin, {'attr':  {
                                                                            'class': 'form-control',
                                                                            'disabled':'disabled'
                                                                            }}) }}
                                                                        </div>
                                                                	</div>
                                                                </li>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </ul>
                                              	</div>
                                             	<div class="panel-footer">
                                             		<a href="#" class=""><button type="button" class="btn btn-warning outline"><span class="glyphicon glyphicon-sort"></span> Edit Parts </button></a>
                                             	</div>
                                        	</div>
                                      	</div>
                                    </div>
                            	</li>
                            	<hr></hr>
                                {% set cptPack = cptPack + 1 %}
                            {% endfor %}
                            {% endspaceless %}
                        {% endif %}
                        </ul>
                        <hr></hr>
                        <div class="form-group">
                            <div class="col-sm-4">
                                {{ form_widget(packingSheetForm.save, {'attr':  {
                                'class': 'btn btn-primary outline',
                                'style':'display: block; margin: 0 auto;'
                                }}) }}
                            </div>
                        </div>
                    {{ form_end(packingSheetForm) }}
            	</div>
        	</div>
		</div>
	</div>
    
    <script>
    
    var $collectionHolder;

 	// setup an "add a packing" link
     var $addPackingLink = $('<br/><a href="#" class="add_packing_link"><button type="button" class="btn btn-success outline"><span class="glyphicon glyphicon-copy"></span> Add a Packing </button></a>');
     var $newLinkLi = $('<li></li>').append($addPackingLink);
    
     jQuery(document).ready(function() {

         // Get the ul that holds the collection of packings
         $collectionHolder = $('ul.packings');
        
         // add a delete link to all of the existing packing form li elements
         $collectionHolder.find('li#packing').each(function() {
            addPackingFormDeleteLink($(this));
         });
    	    
         // Get the ul that holds the collection of packings
         //$collectionHolder = $('ul.packings');
    
         // add the "add a Packing" anchor and li to the packings ul
         $collectionHolder.append($newLinkLi);
    
         // count the current form inputs we have (e.g. 2), use that as the new
         // index when inserting a new item (e.g. 2)
         $collectionHolder.data('index', $collectionHolder.find(':input').length);
    
         $addPackingLink.on('click', function(e) {
             // prevent the link from creating a "#" on the URL
             e.preventDefault();
    
             // add a new packing form (see next code block)
             addPackingForm($collectionHolder, $newLinkLi);
         });
     });

     function addPackingForm($collectionHolder, $newLinkLi) {
    	    // Get the data-prototype explained earlier
    	    var prototype = $collectionHolder.data('prototype');

    	    // get the new index
    	    var index = $collectionHolder.data('index');

    	    // Replace '__name__' in the prototype's HTML to
    	    // instead be a number based on how many items we have
    	    var newForm = prototype.replace(/__name__/g, index);

    	    // increase the index with one for the next item
    	    $collectionHolder.data('index', index + 1);

    	    // Display the form in the page in an li, before the "Add a Packing" link li
    	    var $newFormLi = $('<li></li>').append(newForm);
    	    $newLinkLi.before($newFormLi);

    	 	// add a delete link to the new form
    	    addPackingFormDeleteLink($newFormLi);
    	}

	function addPackingFormDeleteLink($packingFormLi) {
	    var $removeFormA = $('<p><a href="#"><button type="button" class="btn btn-danger outline"><span class="glyphicon glyphicon-paste"></span> Delete this Packing </button></a></p>');
	    $packingFormLi.append($removeFormA);

	    $removeFormA.on('click', function(e) {
	        // prevent the link from creating a "#" on the URL
	        e.preventDefault();

	        // remove the li for the packing form
	        $packingFormLi.remove();
	    });
	}
 	
    </script>
    </script>
 	
   
{% endblock %}




