{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if block('title') == 'Edit Part'%}
        <div class="panel panel-warning">
            <div class="panel-heading panel-height"><h4>Parts - Edition</h4></div>
        </div>
    {% elseif block('title') == 'New Part' %}
        <div class="panel panel-success">
            <div class="panel-heading panel-height"><h4>Parts - Creation</h4></div>
        </div>
    {% endif %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="well">
        {{ form_start(partForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_label(partForm.pn, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(partForm.pn) }}
                {{ form_widget(partForm.pn, { 'attr':  {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(partForm.serial, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(partForm.serial) }}
                {{ form_widget(partForm.serial, { 'attr':  {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(partForm.desc, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(partForm.desc) }}
                {{ form_widget(partForm.desc, { 'attr':  {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(partForm.price, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(partForm.price) }}
                {{ form_widget(partForm.price, { 'attr':  {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(partForm.hscode, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(partForm.hscode) }}
                {{ form_widget(partForm.hscode, { 'attr':  {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
                <input type="submit" class="btn btn-primary outline" value="Save" />
            </div>
            <div class="col-md-1 col-md-offset-5">
            	<a href="{{ path('parts') }}"><button type="button" class="btn btn-danger outline"> Cancel </button></a>
            </div>
        </div>
        {{ form_end(partForm) }}
    </div>
{% endblock %}