{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="well">
{{ form_start(partForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(partForm.pn, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(partForm.pn) }}
            {{ form_widget(partForm.pn, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(partForm.serial, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(partForm.serial) }}
            {{ form_widget(partForm.serial, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(partForm.desc, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(partForm.desc) }}
            {{ form_widget(partForm.desc, { 'attr':  {
                'class': 'form-control'
             }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(partForm.price, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(partForm.price) }}
            {{ form_widget(partForm.price, { 'attr':  {
                'class': 'form-control'
             }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(partForm.hscode, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(partForm.hscode) }}
            {{ form_widget(partForm.hscode, { 'attr':  {
                'class': 'form-control'
             }}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </div>
{{ form_end(partForm) }}
</div>
{% endblock %}